[tool.poetry]
name = "{{package_name}}"
version = "0.1.0"
description = "{{package_short_description}}"
authors = ["{{full_name}} <{{email}}>"]
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.10"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.extras]
dev = ["pytest", "ruff"]
