[project]
name = "{{package_name}}"
version = "0.1.0"
description = "{{package_short_description}}"
authors = [
    {name = "{{full_name}}", email = "{{email}}"},
]
dependencies = []
requires-python = ">=3.10"
readme = "README.md"
license = {text = "{{license}}"}

[tool.pdm.dev-dependencies]
dev = [
    "pytest<9.0.0,>=8.3.3",
    "ruff<1.0.0,>=0.6.9",
    "coverage[toml]<8.0.0,>=7.6.1",
    "pytest-copie<1.0.0,>=0.2.0",
    "pyprojroot<1.0.0,>=0.3.0",
]

[tool.pdm]
distribution = false

[tool.pdm.build]
includes = []
