[project]
name = "{{package_name}}"
version = "0.1.0"
description = "{{package_short_description}}"
authors = [
    {name = "{{full_name}}", email = "{{email}}"},
]
dependencies = []
requires-python = ">=3.10"
readme = "README.md"
license = {text = "{{license}}"}

[dependency-groups]
dev = [
    "pytest<9.0.0,>=8.3.3",
    "pytest-mock<3.0.0,>=2.1.0",
    "pytest-cov<8.0.0,>=7.6.1",
    "pytest-freezegun<1.0.0,>=1.0.0",
    "coverage[toml]<8.0.0,>=7.6.1",
    "mypy<1.0.0,>=1.11.1",
    "ruff<1.0.0,>=0.6.9"
]

[tool.pdm]
distribution = false

[tool.pdm.build]
includes = []
